[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/kontrol-cheatcodes"]
	path = lib/kontrol-cheatcodes
	url = https://github.com/runtimeverification/kontrol-cheatcodes.git
[submodule "oz_erc20/lib/forge-std"]
	path = oz_erc20/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "oz_erc20/lib/kontrol-cheatcodes"]
	path = oz_erc20/lib/kontrol-cheatcodes
	url = https://github.com/runtimeverification/kontrol-cheatcodes
[submodule "oz_erc20/lib/openzeppelin-contracts"]
	path = oz_erc20/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
